<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>Curriculum Vitae</title>
    </head>
    <body>
        <h1>CURRICULUM VITAE</h1>
        <h2>Career Intent</h2>
        <hr>
        <p>"To work in an exciting ICT environment that offers both responsibilities and prospect for growth"</p>
        <hr>
        <h2>Personal Details</h2>
        <ul>
            <li>Date of Birth : September 1982</li>
            <li>ID Number : 23045552</li>
            <li>Address :  P.O. Box 1962 - 40100, KUSUMU</li>
            <li>Nationality :  Kenyan.</li>
            <li>Language : English, Kiswahili and Luo.</li>
        </ul>

        <h2>WORK EXPERIENCE</h2>
        <h4>September 2011 - November 2015: ICT Administrative Assistant(System Administrator) in Jaramogi Oginga Odinga teaching and referral Hospital.</h4>
        <h3>Responsibilities</h3>
        <ul>
            <li>Oversee the implementation of huge projects on WAN, Broadband consolidation using CISCO & RAD Products, Siemons & Cisco Products</li>
            <li>Oversee training of health workers in the use of available software</li>
            <li>Offer technical support, coordinate, supervise and perform day to day Hospital activities</li>
            <li>Carry out regular Information Technology Quality Audits</li>
            <li>Troubleshoot problems reported by users.</li>
            <li>Maintain Network Infrastructure</li>
            <li>Generate and implement the policies for the use of the computer system and network</li>
        </ul>

        <h4>March 2009 - July 2011 - Operations Manager in Media Distributing Company, KIGALI _ RWANDA.</h4>
        <h3>Responsibilities</h3>
        <ul>
            <li>Promoting good customer relations by ensuring correct, timely, effective delivery to clients and by addressing emergent clients issues.</li>
            <li>Correct and timely submission of returns</li>
            <li>Maintain an orderly,clean, noise free and otherwise customer friendly working environment</li>
        </ul>










        </p>
